IA e Chatbot/chatbotNodeRed/flows.json
[
    {
        "id": "073ef46632bec393",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04aac76f05a4a489",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "388523e025dd790a",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "384a39892bbe98f1",
        "type": "telegram client config",
        "botname": "vendasFIAP_bot",
        "verboselogging": false,
        "loginmode": "user",
        "useproxy": false,
        "usewss": false,
        "host": "",
        "sockstype": "5",
        "port": "6667",
        "username": "anonymous",
        "password": "",
        "secret": "",
        "mtproxy": false,
        "timeout": "2"
    },
    {
        "id": "7743252fdca117fc",
        "type": "telegram client config",
        "botname": "Bot ",
        "verboselogging": false,
        "loginmode": "user",
        "useproxy": false,
        "usewss": false,
        "host": "",
        "sockstype": "5",
        "port": "6667",
        "username": "anonymous",
        "password": "",
        "secret": "",
        "mtproxy": false,
        "timeout": "2"
    },
    {
        "id": "06b36dce53b0b4df",
        "type": "telegram bot",
        "botname": "vendasFIAP_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "4ca85d5f20837a9f",
        "type": "telegram receiver",
        "z": "073ef46632bec393",
        "name": "",
        "bot": "06b36dce53b0b4df",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "79f0f8ce502c4765",
                "3e019cd83b353461"
            ],
            [
                "66142f07a403d9f9"
            ]
        ]
    },
    {
        "id": "79f0f8ce502c4765",
        "type": "debug",
        "z": "073ef46632bec393",
        "name": "Entrada no telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "38ae3d3a9099168a",
        "type": "telegram sender",
        "z": "073ef46632bec393",
        "name": "",
        "bot": "06b36dce53b0b4df",
        "haserroroutput": false,
        "outputs": 1,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "0bd524784c0e132f"
            ]
        ]
    },
    {
        "id": "b805a8e39074a98f",
        "type": "watson-assistant-v2",
        "z": "073ef46632bec393",
        "name": "WA bot fiap",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/57c0e96f-c276-4671-8372-b5e5bff52b36",
        "assistant_id": "6c1912b2-269a-4844-91ae-3dfeee892a78",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "8bfc8f2f7fb939e3",
                "a419df58eb64d0ce"
            ]
        ]
    },
    {
        "id": "8bfc8f2f7fb939e3",
        "type": "debug",
        "z": "073ef46632bec393",
        "name": "Resposta para o telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "3e019cd83b353461",
        "type": "change",
        "z": "073ef46632bec393",
        "name": "Proc Entrada",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "b805a8e39074a98f"
            ]
        ]
    },
    {
        "id": "0bd524784c0e132f",
        "type": "debug",
        "z": "073ef46632bec393",
        "name": "Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 40,
        "wires": []
    },
    {
        "id": "a419df58eb64d0ce",
        "type": "change",
        "z": "073ef46632bec393",
        "name": "Prepara Retorno",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "38ae3d3a9099168a"
            ]
        ]
    },
    {
        "id": "66142f07a403d9f9",
        "type": "function",
        "z": "073ef46632bec393",
        "name": "Acesso não autorizado",
        "func": "msg.payload.content = \"Você não é um usuario autorizado.\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "38ae3d3a9099168a"
            ]
        ]
    },
    {
        "id": "f175c47b73c23996",
        "type": "http in",
        "z": "04aac76f05a4a489",
        "name": "Entrada",
        "url": "/conversa",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 50,
        "y": 60,
        "wires": [
            [
                "95324b7d8fd4f4bd"
            ]
        ]
    },
    {
        "id": "95324b7d8fd4f4bd",
        "type": "function",
        "z": "04aac76f05a4a489",
        "name": "Prepara msg watson",
        "func": "msg.params = {\n\"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.payload = msg.payload.mensagem;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 180,
        "wires": [
            [
                "bf8e94ddb0486a49"
            ]
        ]
    },
    {
        "id": "bf8e94ddb0486a49",
        "type": "watson-assistant-v2",
        "z": "04aac76f05a4a489",
        "name": "WA",
        "service-endpoint": "",
        "assistant_id": "6c1912b2-269a-4844-91ae-3dfeee892a78",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 450,
        "y": 60,
        "wires": [
            [
                "d52367495a7b2f7c"
            ]
        ]
    },
    {
        "id": "d52367495a7b2f7c",
        "type": "function",
        "z": "04aac76f05a4a489",
        "name": "Prepara o retorno p/ WA",
        "func": "msg.payload = msg.payload.output.generic;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 180,
        "wires": [
            [
                "c1a3fc821143533d"
            ]
        ]
    },
    {
        "id": "c1a3fc821143533d",
        "type": "http response",
        "z": "04aac76f05a4a489",
        "name": "Retorno",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "bb57e603cb094948",
        "type": "microphone",
        "z": "388523e025dd790a",
        "name": "MIC",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "26ef2a9f6a717bce",
                "edc39400916e9f3a"
            ]
        ]
    },
    {
        "id": "0eacc1288cd4de86",
        "type": "watson-speech-to-text",
        "z": "388523e025dd790a",
        "name": "WA STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "XHEUlynqqXbHD6bEatTjIp0ks4QQJcg0RlshVtD7-z2U",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/fe4e742e-d843-419a-a26a-1c6219811dbe",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "c6de20b35d2952d6"
            ]
        ]
    },
    {
        "id": "c6de20b35d2952d6",
        "type": "debug",
        "z": "388523e025dd790a",
        "name": "SAIDA STT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "26ef2a9f6a717bce",
        "type": "debug",
        "z": "388523e025dd790a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "edc39400916e9f3a",
        "type": "function",
        "z": "388523e025dd790a",
        "name": "Proc Entrada",
        "func": "msg.payload = msg.payload.weblink\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "0eacc1288cd4de86"
            ]
        ]
    }
]